* {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
}

.row {
    height: 500px;
}

.listing {
    border-radius: 10px;
    width: auto;
    background-color: darkslategray;
    padding: 5px 5px;
}

.container div.listing:hover {
    color:#DDD;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container {
    width: 600px;
    height: 80%;
}

.image {
    height: auto;
}

img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

video {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #000000;
    margin-top: 75px;
}