{{#post}}
<li>
  
        <h6 id="title" class="font-weight-bold">{{title}}
                </h1>
                <div id="author">posted by <a href="https://www.reddit.com{{author}}">{{author}}</a> </div>
                <div id="permalink"><a href="https://www.reddit.com{{permalink}}">click me fam</a></div>
                <div id="ups"><span class="fas fa-arrow-up"></span>votes: {{ups}}</div>
                <div id="url">url: {{url}}</div>
                <br> 
                {{#vidurl}}
                <video controls width="200" height="200" id="vid">
                        <source src="{{vidurl}}"></video>
                {{/vidurl}} 
                {{^vidurl}} 
                {{/vidurl}} 
 
</li>
{{/post}}

{{^post}}
<br>none
{{/post}}